:root{
    --red : red
     }
    

     #p_top{
        height: 50px;
        width: 100%;
        background-color:#1D7C7A ;
        /* border: 1px solid red; */
        text-align: center;
        margin-top: -8px;
        
        
        
    }
    #text{
        padding-top: 10px;
        font-size: 18px;
        color: white;
        
    }
    
    
    #p-middle{
        height: 40px;
        width: 100%;
        background-color: #f9f4f4;
          
        display:flex;
        /* justify-content: space-between; */
        padding: 10px; 
    }
    
    .dropbtn {
        background-color: #f9f4f4;
        /* color: white; */
        /* padding: 16px; */
        font-size: 16px;
        border: none;
        padding-right: 50px;
        margin-left: 1050px;
        color: #1D7C7A;
        margin-top: 10px;
    
      }
      
      .dropdown {
        /* position: relative; */
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        /* position: absolute; */
        background-color: #f1f1f1;
        /* min-width:; */
        margin: auto;
        margin-right: 50px;
        width: 20%;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      .dropdown-content a:hover {background-color: #ddd;}
      
      .dropdown:hover .dropdown-content {display: block;}
      
      .dropdown:hover .dropbtn {color: black;
                              cursor: pointer;
                                   }
      
    
      button{
        margin-top: -2px;
        /* margin-right: 50px; */
        font-size: 18px;
        color: #1D7C7A;
        background-color: #f9f4f4;
        border: 0px;
        border-radius: 10px;
        
    
      }
      button:hover{
        color: black;
        cursor: pointer;
      }
    
      #p-middle2{
        height: 60px;
        width: 100%;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        margin-left: 50px;
        
        
      }
      img{
        padding-top: 10px;
      }
      #inp{
        margin-left: 500px;
        display: inline-flex;
        height: 40px;
        width: 20%;
        border-radius: 5px;
        border: 1px solid #1D7C7A;
        /* color: #1D7C7A; */
      }
    
    
    
      .search-field {
        width: 100%;
        /* padding: 10px 35px 10px 15px; */
        /* margin-left: 50px; */
        border: none;
        border-radius: 100px;
        outline: none;
    
      }
      
      .search-button {
        background: transparent;
        border: none;
        outline: none;
        margin-left: -40px;
        /* margin-top: 10px; */
      }
      
      .search-button img {
        width: 20px;
        height: 20px;
        object-fit: cover;
        color: #1D7C7A;
        
      }
      #cart_img{
        height: 30px;
        width: 50px;
        object-fit: cover;
        margin-left: 30px;
    
      }
    
    #p-last{
        height: 60px;
        width: 100%;
        border: 1px solid #d2d4d4 ;
          text-align: center;
          padding-top: 20px;
          
    }
    a{
        color: black;
        /* margin-top: 50px; */
        
    }
    
    #dropbtn {
        background-color: white;
        /* color: white; */
        /* padding: 16px; */
        font-size: 16px;
        border: none;
        padding-right: 50px;
        margin-left: 50px;
        color: #1D7C7A;
    
      }
      
      #dropdown {
        position: relative;
        display: inline-block;
      }
      
      #dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        /* min-width:; */
        margin: auto;
        margin-right: 50px;
        width: 100%;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    
      }
      
      #dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      #dropdown-content a:hover {background-color: #ddd;}
      
      #dropdown:hover #dropdown-content {display: block;}
      
      #dropdown:hover #dropbtn {color: black;
                              cursor: pointer;
                                   }
      
     #logo{
         /* border: 2px solid var(--red); */
         width:40%;

         margin: auto;
     }
     #logo>img{
         width: 50%;
         display: block;
         margin: auto;
     }
     #shopingbag{
      
         width: 80%;
         /* border: 2px solid red; */
         display: flex;
         justify-content: space-between;
         margin: auto;
         align-items: center;
         margin-top: 30px;
         margin-bottom: 60px;
         font-family:"Poppins"
     }
     #shopingbag>div>p{
         width:100%;
     }
     /* #shopingbag>div>button{
         border: none;
         padding: 10px;
         background-color: black;
         color: white;
     } */
     .btn{
         border: none;
         padding: 10px;
         background-color: black;
         color: white;
     }
     table{
   border-collapse: collapse;
 width: 81%;
 margin: auto;
 text-align: center;
 }
 table thead{
   /* background: rebeccapurple; */
 color: red;
 font-size: 20px;
 font-family: system-ui;
 }
 table thead th{
   background-color: white;
color: black;
font-family:"Poppins";
font-size: 15px;
font-weight: bolder;

 }
table tbody  td{
   padding: 14px;
 }
 table>thead>tr>th:first-child{
     /* background-color: black; */
     color: wheat;
     width: 80%;
 }
 #pimage{
     /* border: 2px solid red; */
     width: 20%;
     display: flex;
 }
 #image>img{
     width:100%;
 }
 #pimage>p{
     /* border: 2px solid green; */
     padding: 5px;
     letter-spacing: .8px;
     font-size: 17px;
     color: #757575;
 }
 #para{
     /* border: 2px solid teal; */
     margin-top: 20px;
     font-family:"Poppins"
 }
 #para+p{
     font-family:"Poppins";
    color: black;
 }
 #para>p+p{
     width:70%;
     /* border: 2px solid black; */
     justify-content: right;
 }
 #para>button{
     /* border: 2px solid rebeccapurple; */
     padding: 10px;
     background-color: white;
     color: black;
     font-family:"Poppins";
     border: none;
 }
 #para>button:hover{
     cursor: pointer;
 }
 tbody>tr>td{
     font-family:"Poppins"
 }
 #btn{
     /* border: 2px solid red; */
     display: flex;
     margin-top: 70px;
     justify-content: space-between;
 }
 #btn>button{
     border: none;
     width:100%;
     background-color: white;
 }
 hr{
     width:80%;
 }
 p{
     width: 80%;
     /* border: 3px solid green; */
     margin: auto;
     font-family:"Poppins"
 }
 #check{
     width: 80%;
     /* border: 2px solid rebeccapurple; */
     height: 200px;
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap :30px;
     margin: auto;
     margin-top: 20px;
 }
 #check>div{
 height: 90%;
 /* border: 2px solid rebeccapurple; */
 }
 #check>div>div>input{
/* background-color: black; */
width: 50%;
line-height: 40px;
 }
 #check>div>div>input+button{
     width: 35%;
   padding: 12px;
   border: none;
   background-color: #f2f2f2;
   font-family:"Poppins"
 }
 #check>div>div>input+button:hover{
     background-color: #ece0e0;
     transition: .7s all ease;
 }
 #cont{
     margin-top: 70px;
     width: 35%;
   padding: 12px;
   border: none;
   background-color: #f2f2f2;
   font-family:"Poppins";
   color: black;
 }
 h4{
     /* border: 2px solid brown; */
     text-align: right;
 }
 #btn2{
     /* border: 2px solid red; */
     width: 40%;
     display: block;
     margin: auto;
     
 }
 .cen{
     width: 30%;
     margin: auto;
 }
 #contact{
     width: 60%;
     /* border: 2px solid green;   */
     height: 300px;
     display: grid;
     grid-template-columns: repeat(2,1fr);
     margin: auto;
     margin-top: 20px;
     gap:15px
 }
 #contact>div{
     /* border: 2px solid red; */
     height: 90%;
     /* width: 50%; */
     box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
     
 }
 #check>div{
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     
 }
 #contact>div>p{
     /* border: 2px solid rebeccapurple; */
     width:80%;
     text-align: center;
     line-height: 38px;
     color: black;
 }
 #contact>div>i{
     width: 20%;
     /* border: 2px solid green; */
     font-size: 40px;
     display: block;
     justify-content: center;
     align-items: center;
     margin-left: 45%;
     margin-top: 10px;
     margin-bottom: 10px;
 }
 .fmain1{
    /* border: 2px solid red; */
    background-color: #f7f6f2;
    padding: 10px;
}
 .fmain{
    /* border: 2px solid red; */
    display: flex;
   padding: 10px;
    justify-content: space-around;
}
.fmain>div:nth-child(1){
   width: 30%;
}
.fmain>div:nth-child(2){
   width: 40%;
}
.fmain>div:nth-child(2)>p{
   margin-left: 14px;
}
.fmain>div:nth-child(2)>div>input{
   width: 60%;
   height: 40px;
}
.fmain>div:nth-child(2)>div>button{
   width: 30%;
   height: 40px;
   border: none;
   background-color: #4b5666;
   color: white;
   padding: 5px;

}
.flex{
    display: flex;
    justify-content: space-around;
}
.fright{
    margin-left: 110px;
    font-size: 13px;
    color: #8d93a0;
}
.fright1{
    
    font-size: 14px;
    color: #8d93a0;
}
.fmidfoot{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-evenly;
    margin-right: 120px;
}
.fmidfoot>div>p{
    font-size: 14px;
    color: #676767;
}
.fmidfoot>div>p:hover{
    cursor: pointer;
    width: fit-content;
    border-bottom: 1px solid black;
}
.blue{
    color: rgb(59, 137, 182);
}
.flowfoot{
    /* border: 2px solid red; */
    width: 25%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}
.bi{
 color: #167a92;
}
.bi:hover{
    color: black;
    cursor: pointer;
}
.fimage{
    width: 90%;
    margin: auto;
    margin-top: 15px;
}
.fimage>img{
    width: 100%;
}
.fcont{
    width: 20%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.fcont>p{
    font-size: 15px;
}
.fcont>p:hover{
    cursor: pointer;
    border-bottom: 1px solid black;
}
.flast{
    display: flex;
    justify-content: space-between;
}
.flast>div:nth-child(1){
    width: 50%;
    display: flex;
    font-size: 12px;
    word-spacing: 4px;
    letter-spacing: 1px;
    color: #358597;
}
.flast>div:nth-child(1)>p:hover{
    cursor: pointer;
    border-bottom: 1px solid;
    width: fit-content;
}
.flast>div:nth-child(2){
    font-size: 12px;
    word-spacing: 3px;
    color: #7c7c7d;
}