#items{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;

}
img{
    width: 350px;
    cursor: pointer;
}
#container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
#sort>select{
    width:300px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    margin-left: 1300px;
    margin-bottom: 60px;
    cursor: pointer;

    
}
#filter{
    width: 200px;
    height: 40px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;

}
#categories{
    width: 200px;
    height: 40px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}
#brand{
    width: 200px;
    height: 40px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;

}
#color{
    width: 200px;
    height: 40px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;

}
#stock{
    width: 200px;
    height: 40px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;

}
#search{
width: 300px;
height: 40px;
text-align: center;
font-size: 16px;
font-weight: bold;
border-radius: 10px;
margin-left: 100px;
}
#pagination a{
text-decoration: none;

}